* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

:root {
    --cor1 : #b1794e;
    --cor2 : #97411e;
    --cor3 : #6f1604;
    --cor4 : #611309;
    --cor5 : #271308;
}

body {
    background-color: var(--cor1);
}

nav {
    background-color: var(--cor2);
    height: 4.2em;
    margin-bottom: 1.5em;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
}

nav h1 {
    margin: 0.5em;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 1em;
}

nav li {
    padding: 0.2em;
}

nav a {
    color: black;
    padding: 0.3em;
}

nav li:hover {
    background-color: var(--cor1);
    text-decoration: underline;
    color: var(--cor4);
    border-radius: 10px;
    transition: 0.5s;
}

main {
    background-color: white;
    margin: auto;
    padding: 1.5em;
    text-indent: 1em;
    max-width: 800px; /* quando tiver 800px ele para de crescer */
    min-width: 300px; /*quando tiver 300px ele adapta o conteúdo */
    text-align: justify;
    border-radius: 20px;
    margin-bottom: 1em;
}

main > h1 {
    text-align: center;
    color: var(--cor4);
    font-weight: bold;
    margin: 0.5em;
}
main > h2 {
    color: var(--cor5);
    margin: 0.3em;
}

footer {
    background-color: var(--cor2);
    height: 1em;
    text-align: center;
    padding: 0.3em;
}

footer > a {
    color: black;
}

footer > a:hover {
    text-decoration: underline;
    color: var(--cor4);
}